* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(#b068e9, #6463e7);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

div {
  /* border: 1px solid orangered; */
}

h1 {
  /* border: 2px solid darkblue; */
}

p {
  /* border: 1px solid green; */
}

img {
  /* border: 1px solid black; */
}

.container-all {
  margin: auto;
  width: 100%;
  height: 100%;
}

.container {
  /* max-width: 920px; */
  /* padding-top: 50px; */
  height: auto;
  width: 320px;
  margin: 145px auto 30px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 23px;
  position: relative;
}

.container-faq {
  width: 100%;
  position: relative;
}

.container-img {
  position: relative;
  /* background-color: red; */
  height: 132px;
  width: 100%;
  text-align: center;
}

/* BOX IMAGE */
.container-img-box {
  display: none;
  position: absolute;
  z-index: 2;
  /* overflow: visible; */
}

/* SHADOW IMAGES */
.container-img-shadow-mobile {
  z-index: 0;
  position: absolute;
  left: 40px;
}

.container-img-shadow-desktop {
  z-index: 0;
  position: absolute;
  display: none;
  width: 944px;
  height: 964px;
}

/* WOMAN IMGES */
.container-img-woman-desktop {
  display: none;
  z-index: 1;
  width: 472px;
  height: 359px;
  position: absolute;
}

.container-img-woman-mobile {
  z-index: 1;
  position: absolute;
  left: 12px;
  top: -110px;
}

.container-question-pointer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.container-questions-answers {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
  cursor: pointer;
}

.container-question-answer {
  border-bottom: 1px solid #e8e8ea;
  min-height: 35px;
}

/* .container-question-answer:hover {
  font-weight: 900;
} */

.answer {
  display: none;
  /* visibility: hidden; */
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  margin-top: 11px;
  margin-bottom: 16px;
}

.header-faq {
  color: #1e1f36;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
}

.pointer {
  width: 8px;
  height: 4px;
  transition: 0.5s;
}

.question {
  color: #4b4c5f;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
}

.question:focus {
  color: red;
}

.attribution {
  margin: auto;
}

@media only screen and (min-width: 920px) {
  .container {
    width: 920px;
    flex-direction: row;
  }

  .container-faq {
    align-items: flex-start;
  }

  .container-img {
    min-height: 509px;
    width: 100%;
    overflow: hidden;
  }

  .container-img-woman-desktop {
    display: block;
    top: 60px;
    left: -85px;
  }

  .container-img-woman-mobile {
    display: none;
  }

  .container-img-box {
    display: block;
    top: 180px;
    left: -95px;
  }

  .container-img-shadow-mobile {
    display: none;
  }

  .container-img-shadow-desktop {
    display: block;
    top: -330px;
    left: -560px;
  }

  .header-faq {
    text-align: left;
  }

  .container-questions-answers {
    margin-left: 0;
    margin-right: 95px;
  }
}
